.logo {
  width: 90px;
  height: 70px;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 15px 8%;
  width: 100%;
}
.Navbar ul {
  padding: 10px 30px;
  border-radius: 30px;
  box-shadow: 0 0 30px 0 rgba(0, 0, 0, 0.1);
}
.Navbar ul li {
  display: inline-block;
  padding: 5px 10px;
  align-items: center;
  margin: 0 10px;
  color: #000;
}
.Navbar button {
  background: #000;
  color: #fff;
  padding: 12px 25px;
  border: 0;
  outline: 0;
  border-radius: 30px;
  font-size: 16px;
  cursor: pointer;
}

.navbar-custom-dark {
  background-color: #1e1e2f !important;
  color: #ffffff;
}

.navbar-custom-light {
  background-color: #fff8f0 !important;
  color: #2c2c2c;
}

.icon-group{
  display: flex;
  gap: 10px;
}

.dropdown-menu {
  z-index: 1050; /* higher than navbar */
}
